<h1 mat-dialog-title> Add Runner Detail</h1>
<div mat-dialog-content>
    <form [formGroup]="runnerForm">
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input formControlName="userName" matInput placeholder="User Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Id</mat-label>
        <input formControlName="email" matInput placeholder="Email Id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input formControlName="contactNumber" matInput placeholder="Whatsapp Number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="DOB">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>T-Shirt Size</mat-label>
        <mat-select formControlName="tshirtSize">
        <mat-option value="S">S</mat-option>
        <mat-option value="M">M</mat-option>
        <mat-option value="L">L</mat-option>
        <mat-option value="XL">XL</mat-option>
        <mat-option value="XXL">XXL</mat-option>
        <mat-option value="XXL">XXXL</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Emergency Contact Name</mat-label>
        <input formControlName="emergencyContactName" matInput placeholder="Emergency Contact Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Emergency Contact Number</mat-label>
        <input formControlName="emergencyContactNumber" matInput placeholder="Emergency Contact Number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Profession</mat-label>
        <mat-select formControlName="profession">
          <mat-option value="Bussiness">Business</mat-option>
          <mat-option value="Employeed">Employed</mat-option>
          </mat-select>
      </mat-form-field>
    <!--  <mat-form-field appearance="outline">
        <mat-label>Club Name</mat-label>
        <input formControlName="clubName" matInput placeholder="Club Name">
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Personal Best</mat-label>
        <input formControlName="personalBest" matInput placeholder="Personal Best">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Blood Group</mat-label>
        <input formControlName="bloodGroup" matInput placeholder="Blood Group">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>T-Shirt Issued</mat-label>
        <mat-select formControlName="tshirtIssued">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Interests other than Running</mat-label>
        <input formControlName="interestsOtherThanRunning" matInput placeholder="Interests">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tell about yourself</mat-label>
        <input formControlName="tellAboutyourself" matInput placeholder="Tell about yourself">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Strava Athelete Link</mat-label>
        <input formControlName="stravaLink" matInput placeholder="Strava Athelete Link">
      </mat-form-field>
      <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
      <div *ngIf="fileInfos !== undefined">
      <div class="runner-form-input">
          <p>Documents to upload(Image Max 2 MB):</p>
          <p>1 - Passport size photo.</p>
          <p>2 - Recent Running photo.</p>
          <p>3 - Downloaded single page Aadhar copy.</p>
      </div>
      <div class="runner-form-input">
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input type="file" (change)="selectFile($event)" />
          </label>
        </div>
        </div>
        <div class="runner-form-input">
        <div class="col-4">
          <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button>
        </div>
      </div>
      <div class="runner-form-input">
      <div class="card mt-3">
        <div class="card-header">List of Files</div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let file of fileInfos" class="list-group-item">
            <a href="{{ file.fileDownloadUri }}">{{ file.fileName }}</a>
            <button mat-icon-button (click)="deletefile(file)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </ul>
      </div>
      </div>
    </div>
    </form>
    <div mat-dialog-action style="margin-top:20px" [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left:10px" mat-raised-button color="primary" (click)="addRunnerDetail()">{{actionButton}}</button>
    </div>
</div>
