.div-class{
    margin-bottom: 10px;
}

.label-class{
    display: inline-block;
    width: 250px;

}

.imgClass{
    float: right;
    height: 125px;
    width: 105px;
}

.centerClass{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#contentToConvert{
    padding-top: 10px;
}